<ion-header>
  <ion-toolbar>
    <ion-title>
      Offers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/offer2.jpg" width="100%" height="40%">
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/offer1.jpg" width="100%" height="130">
      </ion-avatar>
      <ion-label>CINEMA150<br> 19 MAY 2019 <br>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/offer2.jpg">
      </ion-avatar>
      <ion-label>CINEMA150<br> 19 MAY 2019 <br>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/offer3.jpg">
      </ion-avatar>
      <ion-label>CINEMA150<br> 19 DEC 2019 <br>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>