ion-toolbar{
  --background: #d41550;
  color: #fff;
}
.loginBtn{
  margin: 0 auto;
    top: 35%;
    left: 0px;
    right: 9px;
    position: absolute;
  --background: #d41550;
  --border-radius: 0;
}
.mvImg{
  height: 75%;
  margin: 15px 0px 0px 11px;
}
.offersBtn{
  --background: #149a06;
}