<ion-header>
    <ion-toolbar>
      <ion-title>
        City Movies
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-card *ngFor='let m of list'>
    <ion-row>
        <ion-col size="4">
            <img src="{{ m.image_url }}" class="mvImg">
        </ion-col>
        <ion-col size="8">
              <ion-card-content>
                  Movie Name: {{ m.name }}
                  Rating: {{ m.rating}} <br>
                  Movie Type: {{ m.type }} <br> 
                  Language: {{ m.language }} <br> 
                  Release Date : {{ m.date }}<br>
                  <ion-row>
                    <ion-col size ="6">
                      <ion-button class="loginBtn" (click)='onBook(m)' >Book Now</ion-button>                      
                    </ion-col>
                    <ion-col size ="6">
                       <ion-button class="offersBtn" (click)='onOffers()' >Offers</ion-button>
                    </ion-col>
                  </ion-row>
              </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-content>
  