ion-toolbar{
    --background: linear-gradient(to right top, #e51180, #e31282, #e21283, #e01385, #de1486);
    color: #fff;
}
.loginBtn{
    margin-top: 5px;
    --background: linear-gradient(to right top, #e51180, #e31282, #e21283, #e01385, #de1486);
}