ion-button {
    font-weight: 300;
}
.loginBtn{
    margin-top: 25px;
    width: 100%;
    --background: #fa8231;
}
ion-content{
    --background: #fff url('../../assets/login5.png') no-repeat center center / cover;
   
// --ion-background-color:#111D12;
}
ion-item{
   --ion-background-color : none;
   color: #000;
}
.inputtxt{
    color: #000;
}
.userTxt ion-col a{
    color: #000;
}
.titleTxt{
    text-align: center;
    color: #000;
    font-weight: bold;
}
.titleTxt h1 {
    margin-top: 120px;
    font-size: 26px;
}
ion-icon{
    font-size: 65px;
    color: #fa8231;
}