ion-toolbar{
    --background: #d41550;
    color: #fff;
}
.loginBtn{
    margin: 16px 10px 16px 10px;
    --background: #d41550;
    --border-radius: 0;
    position: relative;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
}
.pay{
    margin: 65px 0px 0px 0px;
}
.payBtn{
    margin: 10px 0px 0px 121px;
    --background: #d41550;
}
.mvImg{
    height: fit-content;
    width: fit-content;
    margin: 15px auto;
  }