<ion-header>
    <ion-toolbar>
        <ion-icon name="arrow-back" slot ="start" routerLink="/movie-list" style="font-size: 25px;"></ion-icon>
      <ion-title>
        City Movies
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
        <ion-card>
            <ion-img class="book" src="{{movie.image_url}}" ></ion-img><br>
            <ion-item>
                <ion-label position="floating">{{movie.name}}</ion-label>
                <ion-input readonly></ion-input>
            </ion-item><br>
            <ion-item>
                <ion-label position="floating">No. Of Tickets</ion-label>
                <ion-input name="tickets" [(ngModel)]="data.tickets"></ion-input>
            </ion-item><br>
            <ion-button color="success" routerLink="/transaction" (click)="addBooking(movie,data.tickets)">Book Ticket</ion-button>
          </ion-card>
  </ion-content>